# GCP
GCP_PROJECT_ID=transparencia-pipeline-va
GCP_REGION=us-east1
GCP_BUCKET_BRONZE=transparencia-bronze
GCP_BUCKET_SILVER=transparencia-silver

# BigQuery
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_MARTS=marts

# Service Account
GOOGLE_APPLICATION_CREDENTIALS=./infra/service-account.json

# Portal da Transparência API
API_BASE_URL=https://api.portaldatransparencia.gov.br/api-de-dados
API_KEY=